.commerce-smspay .form-item-commerce-payment-payment-details-mobile-country-code {
  width: 15%;
  display: inline-block;
}

.commerce-smspay .form-item-commerce-payment-payment-details-mobile-number {
  width: 84%;
  display: inline-block;
}
